modules = ["nodejs-20", "python-3.12"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Iniciar Frontend"
mode = "sequential"
author = 4700843

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Iniciar Backend"
mode = "sequential"
author = 4700843

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git checkout frontend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python manage.py runserver"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "React Dev Server"

[[workflows.workflow]]
name = "React Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 HOST=0.0.0.0 npm start"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34605
externalPort = 3001
